**/image_data/
**/images/
!**/.empty
*/__pycache__/*
*/model/*
*/mustard_mistral_model/*
**/model/*
**/nycartoon_data/results/*
**/modelMatching/*
**/modelRanking/*
**/sarc_save_model/*
**/modelMatchingFineTune/*
**/modelRankingFineTune/*
**/model_mustard_baseline_finetune/*
**/model_mustard_finetune/*
**/modelSarcasmFineTune_2024-03-29_13-57-44/*
**/nytRanking_mistral_model/*
**/expert_BLIP2/dataset/*
**/images/*
**/*_model/*
**/blip2_train/sarc/*
**/*.csv
**/__pycache__/*
**/*.out
**.zip
**/*.err
**/*.log
**/key_frames/*
**/subfolder_*/*
**/data_raw/*
expert_BLIP2/blip2_*/*
expert_fusion/mmsd_blip2_*/*
expert_fusion/urfunny_blip2_*/*
expert_fusion/mustard_blip2_*/*
**/data_gen_output_old/*
**/data_split_output_old/*